/*  your css code here. If applicable */
.main-container{
    background-color: grey;
    padding:5px;
}
.container{
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
.sign{
    text-align: right;
    font-style: italic;
}
